{% extends "base.html" %}
{% block title %}Django it news List{% endblock %}

{% block content %}
<div id="content">
	<h1>it news List</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<input type="submit" value="최신 데이터 가져오기">
	</form>
	<p><a href="{% url 'news:itsearch' %}">Search</a></p>
	<ul>
		{% for itnews in object_list %}
			<h2>{{ itnews.title }}</h2>
			<li>{{ itnews.preview }}</li>
			<li>{{ itnews.writer }}</li>
		{% endfor %}
	</ul>
	<br/>
	
	<div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% endif %}

        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %} 
