{% extends "base.html" %}
{% block title %}Django world news List{% endblock %}

{% block content %}
<div id="content">
	<h1>world news List</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<input type="submit" value="Search">
	</form>
    <br/><br/>

	{% if search_list %}
		{% for worldnews in search_list %}
			<h3>{{worldnews.title}}</h3>
			{{worldnews.preview}}
			<p>{{worldnews.writer}}</p>
		{% endfor %}
	{% elif search_keyword %}
		[{{ search_keyword }}]의 검색 결과가 없습니다.
	{% endif %}
	<br/>
</div>
{% endblock %} 